.projects-container {
    height: 88vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.projects-container .links h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #FFFFFF;
    transform: rotate(0.4deg);
}

.projects-container .footLink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transform: rotate(0.4deg);
    transition: 0.3s;
}

.projects-container .footLink:hover {
    color: #FFB575 !important;
    transition: 0.3s;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .projects-container .links h1 {
        font-size: 45px;
        line-height: 70px;
    }
    
    .projects-container .footLink {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 480px) {
    .projects-container .links h1 {
        font-size: 35px;
        line-height: 50px;
    }
    
    .projects-container .footLink {
        font-size: 18px;
        line-height: 27px;
    }
} 